/**
 * Pagination Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@paginationPrefix: kuma-page;

.@{paginationPrefix} {
  font-size: 12px;
  font-family: 'Arial';
  user-select: none;

  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }

  &-total {
    font-size: 10px;
    min-width: 34px;
    height: 34px;
    line-height: 34px;
    float: left;
    margin-left: 20px;
    -webkit-user-select: auto;
  }

  &-item {
    cursor: pointer;
    min-width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    list-style: none;
    float: left;
    background-color: @pagination-item-bg;
    transition: background-color 0.3s ease 0;
    a {
      text-decoration: none;
      color: @text-thirdary-color;
    }


    &:hover {
      background-color: @bg-hover-color;
    }

    &-active {
      a {
        color: @text-primary-color;
      }
      &:hover {
        color: @text-primary-color;
      }
    }
  }

  &-jump-prev, &-jump-next {
    &:after {
      content: "•••";
      display: block;
      letter-spacing: 2px;
      color: #ccc;
      font-size: 12px;
      margin-top: 1px;
    }

    &:hover {
      &:after {
        background-color: @brand-primary-lighter;
      }
    }

  }

  &-jump-prev {
    &:hover {
      &:after {
        content: "«";
      }
    }
  }

  &-jump-next {
    &:hover {
      &:after {
        content: "»";
      }
    }
  }

  &-prev, &-jump-prev, &-jump-next {
    // margin-right: 8px;
  }
  &-prev, &-next, &-jump-prev, &-jump-next {
    cursor: pointer;
    color: @text-thirdary-color;
    font-size: 10px;
    list-style: none;
    min-width: 34px;
    height: 34px;
    line-height: 32px;
    float: left;
    text-align: center;
  }

  &-prev {
    a {
      text-decoration: none;
    }
  }

  &-next {
    a {
      text-decoration: none;
    }
  }

  &-prev, &-next {
    border: 1px solid @border-color;
    background: @basic-400;
    font-size: 18px;
    a {
        color: @gray-lighter;
        &:after {
            display: inline-block;
            vertical-align: top;
        }
    }
    &:hover {
      background: @basic-100;
      border-color: @gray-lighter; 
    }
  }

  &-disabled {
    cursor: @cursor-disabled;
    background-color: @bg-disabled-color;
    a {
      color: @text-disabled-color;
    }
    &:hover {
      background-color: @bg-disabled-color;
    }
  }

  &-options {
    float: left;
    margin-left: 15px;
    &-size-changer {
      float: left;
      width: 80px;
    }

    &-quick-jumper {
        margin-left: 0px;
        height: 34px;
        line-height: 34px;
        float: left;

        input {
            display: inline-block;
            margin: 0 8px;
            background-color: @white;
            border: 1px solid @border-color;
            outline: none;
            width: 50px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            vertical-align: top;

            &:hover {
                border-color: @brand-primary;
            }
        }
    }
  }

  &-simple {
    .@{paginationPrefix}-prev, .@{paginationPrefix}-next {
        font-size: 10px;
        min-width: 18px;
        height: 18px;
        line-height: 16px;
    }

    .@{paginationPrefix}-current {
        color: @brand-primary;
    }

    .@{paginationPrefix}-simple-pager {
      float: left;
      margin-right: 8px;
      line-height: 18px;
      font-weight: bold;

      input {
        margin: 0 8px;
        background-color: @white;
        border: 1px solid @border-color;
        outline: none;
        width: 30px;
        min-height: 20px;
        text-align: center;

        &:hover {
          border-color: @brand-primary;
        }
      }

    }
  }

    &.mini {
        .@{paginationPrefix}-prev, .@{paginationPrefix}-next, .@{paginationPrefix}-jump-prev, .@{paginationPrefix}-jump-next {
            font-size: 10px;
            min-width: 18px;
            height: 18px;
            line-height: 16px;
        }

        .@{paginationPrefix}-item {
            margin-right: 6px;
            min-width: 18px;
            height: 18px;
            line-height: 16px;
        }

        .@{paginationPrefix}-total {
            height: 18px;
            line-height: 18px;
            min-height: 18px;
        }

        .@{paginationPrefix}-options {
            .@{paginationPrefix}-options-quick-jumper {
                margin-left: 8px;
                height: 18px;
                line-height: 18px;

                input {
                    width: 36px;
                    height: 18px;
                    line-height: 18px;

                    &:hover {
                        border-color: @brand-primary;
                    }
                }
            }
            .@{paginationPrefix}-options-size-changer {
                .kuma-select2-selection {
                    height: 18px;
                    .kuma-select2-selection__rendered {
                        line-height: 18px;
                    }
                    .kuma-select2-arrow {
                        height: 18px;
                        margin-top: -5px;
                    }
                }
            }

        }
    }
}

.@{paginationPrefix} {
  .@{paginationPrefix}-options-size-changer {
    font-size: 12px;
  }
}
.@{paginationPrefix}-options-size-changer-dropdown {
  font-size: 12px;
}
.@{paginationPrefix}-options-size-changer-dropdown {
  .kuma-select2-dropdown-menu-item {
    padding: 7px 16px 7px 11px;
  }
}
