/**
 * Pagination Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__pagination-prefix-cls: kuma-page;
@__select-prefix-cls: kuma-select2;

.@{__pagination-prefix-cls} {
  font-size: 12px;
  font-family: 'Arial';
  user-select: none;

  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }

  &-total {
    font-size: 10px;
    min-width: 34px;
    height: 34px;
    line-height: 34px;
    float: left;
    margin-left: 20px;
    -webkit-user-select: auto;
  }

  &-item {
    cursor: pointer;
    min-width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    list-style: none;
    float: left;
    background-color: @pagination-item-bg;
    transition: background-color @transition-duration @transition-ease @transition-delay;
    a {
      text-decoration: none;
      color: @text-thirdary-color;
    }


    &:hover {
      background-color: @bg-hover-color;
    }

    &-active {
      a {
        color: @brand-primary;
      }
      &:hover {
        color: @brand-primary;
      }
    }
  }

  &-jump-prev, &-jump-next {
    &:after {
      content: "•••";
      display: block;
      letter-spacing: 2px;
      color: #ccc;
      font-size: 12px;
      margin-top: 1px;
    }

    &:hover {
      &:after {
        background-color: @brand-primary-lighter;
      }
    }

  }

  &-jump-prev {
    &:hover {
      &:after {
        content: "«";
      }
    }
  }

  &-jump-next {
    &:hover {
      &:after {
        content: "»";
      }
    }
  }

  &-prev, &-jump-prev, &-jump-next {
    // margin-right: 8px;
  }
  &-prev, &-next, &-jump-prev, &-jump-next {
    cursor: pointer;
    color: @text-thirdary-color;
    font-size: 10px;
    list-style: none;
    min-width: 34px;
    height: 34px;
    line-height: 32px;
    float: left;
    text-align: center;
  }

  &-prev {
    a {
      text-decoration: none;
    }
  }

  &-next {
    a {
      text-decoration: none;
    }
  }

  &-prev, &-next {
    border: 1px solid @border-color;
    background: @basic-400;
    font-size: 18px;
    a {
        color: @gray-lighter;
        &:after {
            display: inline-block;
            vertical-align: top;
        }
    }
    &:hover {
      background: @basic-100;
      border-color: @gray-lighter; 
    }
  }

  &-disabled {
    cursor: @cursor-disabled;
    background-color: @bg-disabled-color;
    a {
      color: @text-disabled-color;
    }
    &:hover {
      background-color: @bg-disabled-color;
    }
  }

  &-options {
    float: left;
    margin-left: 15px;
    &-size-changer {
      float: left;
      width: 80px;
      .@{__select-prefix-cls}-selection {
        background: @basic-400;
      }
      .@{__select-prefix-cls}-selection-selected-value {
        padding-right: 0px;
      }
    }

    &-quick-jumper {
        margin-left: 0px;
        height: 34px;
        line-height: 34px;
        float: left;

        input {
            display: inline-block;
            margin: 0 8px;
            background-color: @white;
            border: 1px solid @border-color;
            outline: none;
            width: 50px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            vertical-align: top;
            background-color: @basic-400; 

            &:hover {
                border-color: @border-hover-color;
            }
            &:focus {
                background-color: #fff;
            }
        }
    }
  }

  &-simple {
    .@{__pagination-prefix-cls}-prev, .@{__pagination-prefix-cls}-next {
        font-size: 10px;
        min-width: 18px;
        height: 18px;
        line-height: 16px;
    }

    .@{__pagination-prefix-cls}-prev {
      margin-right: 4px;
    }

    .@{__pagination-prefix-cls}-current {
        color: @brand-primary;
    }

    .@{__pagination-prefix-cls}-simple-pager {
      float: left;
      margin-right: 8px;
      line-height: 18px;
      font-weight: bold;

      input {
        margin: 0 8px;
        background-color: @white;
        border: 1px solid @border-color;
        outline: none;
        width: 30px;
        min-height: 20px;
        text-align: center;

        &:hover {
          border-color: @border-hover-color;
        }
      }

    }
  }

    &.mini {
        .@{__pagination-prefix-cls}-prev, .@{__pagination-prefix-cls}-next, .@{__pagination-prefix-cls}-jump-prev, .@{__pagination-prefix-cls}-jump-next {
            font-size: 10px;
            min-width: 18px;
            height: 18px;
            line-height: 16px;
        }

        .@{__pagination-prefix-cls}-prev {
          margin-right: 6px;
        }

        .@{__pagination-prefix-cls}-item {
            margin-right: 6px;
            min-width: 18px;
            height: 18px;
            line-height: 18px;
        }

        .@{__pagination-prefix-cls}-total {
            height: 18px;
            line-height: 18px;
            min-height: 18px;
        }

        .@{__pagination-prefix-cls}-options {
            .@{__pagination-prefix-cls}-options-quick-jumper {
                margin-left: 8px;
                height: 18px;
                line-height: 18px;

                input {
                    width: 36px;
                    height: 18px;
                    line-height: 18px;
                    background-color: @basic-400;
                    &:hover {
                        border-color: @border-hover-color;
                    }
                    &:focus {
                        background-color: #fff;
                    }
                }
            }
            .@{__pagination-prefix-cls}-options-size-changer {
                .@{__select-prefix-cls}-selection {
                    height: 18px;
                    .@{__select-prefix-cls}-selection__rendered {
                        line-height: 16px;
                        > span {
                          vertical-align: middle;
                        }
                    }
                    .@{__select-prefix-cls}-arrow {
                      height: 14px;
                      line-height: 14px;
                    }
                }
            }

        }
    }
}

.@{__pagination-prefix-cls} {
  .@{__pagination-prefix-cls}-options-size-changer {
    font-size: 12px;
  }
}
.@{__pagination-prefix-cls}-options-size-changer-dropdown {
  font-size: 12px;
}
.@{__pagination-prefix-cls}-options-size-changer-dropdown {
  .@{__select-prefix-cls}-dropdown-menu-item {
    padding: 7px 16px 7px 11px;
  }
}
