/**
 * Pagination Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
.kuma-page {
  font-size: 12px;
  font-family: 'Arial';
  user-select: none;
}
.kuma-page:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.kuma-page-item {
  cursor: pointer;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  list-style: none;
  float: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  margin-right: 8px;
}
.kuma-page-item a {
  text-decoration: none;
  color: #666;
}
.kuma-page-item:hover {
  border-color: #ff9900;
}
.kuma-page-item:hover a {
  color: #ff9900;
}
.kuma-page-item-active {
  background-color: #ff9900;
  border-color: #ff9900;
}
.kuma-page-item-active a {
  color: #fff;
}
.kuma-page-item-active:hover a {
  color: #fff;
}
.kuma-page-jump-prev:after,
.kuma-page-jump-next:after {
  content: "•••";
  display: block;
  letter-spacing: 2px;
  color: #ccc;
  font-size: 12px;
  margin-top: 1px;
}
.kuma-page-jump-prev:hover:after,
.kuma-page-jump-next:hover:after {
  color: #ff9900;
}
.kuma-page-jump-prev:hover:after {
  content: "«";
}
.kuma-page-jump-next:hover:after {
  content: "»";
}
.kuma-page-prev,
.kuma-page-jump-prev,
.kuma-page-jump-next {
  margin-right: 8px;
}
.kuma-page-prev,
.kuma-page-next,
.kuma-page-jump-prev,
.kuma-page-jump-next {
  cursor: pointer;
  color: #666;
  font-size: 10px;
  list-style: none;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  float: left;
  text-align: center;
}
.kuma-page-prev a:after {
  content: "‹";
  display: block;
}
.kuma-page-next a:after {
  content: "›";
  display: block;
}
.kuma-page-prev,
.kuma-page-next {
  border: 1px solid #d9d9d9;
  font-size: 18px;
}
.kuma-page-prev a,
.kuma-page-next a {
  color: #666;
}
.kuma-page-prev a:after,
.kuma-page-next a:after {
  margin-top: -1px;
}
.kuma-page-disabled {
  cursor: not-allowed;
}
.kuma-page-disabled a {
  color: #ccc;
}
.kuma-page-options {
  float: left;
  margin-left: 15px;
}
.kuma-page-options-size-changer {
  float: left;
  width: 80px;
}
.kuma-page-options-quick-jumper {
  float: left;
  margin-left: 16px;
  height: 28px;
  line-height: 28px;
}
.kuma-page-options-quick-jumper input {
  margin: 0 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  outline: none;
  width: 50px;
  height: 28px;
  text-align: center;
}
.kuma-page-options-quick-jumper input:hover {
  border-color: #ff9900;
}
.kuma-page-simple .kuma-page-prev,
.kuma-page-simple .kuma-page-next {
  font-size: 10px;
  min-width: 18px;
  height: 18px;
  line-height: 18px;
}
.kuma-page-simple .kuma-page-current {
  color: #ff9900;
}
.kuma-page-simple .kuma-page-simple-pager {
  float: left;
  margin-right: 8px;
  line-height: 18px;
  font-weight: bold;
}
.kuma-page-simple .kuma-page-simple-pager input {
  margin: 0 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  outline: none;
  width: 30px;
  min-height: 20px;
  text-align: center;
}
.kuma-page-simple .kuma-page-simple-pager input:hover {
  border-color: #ff9900;
}
.kuma-page.mini .kuma-page-prev,
.kuma-page.mini .kuma-page-next,
.kuma-page.mini .kuma-page-jump-prev,
.kuma-page.mini .kuma-page-jump-next {
  font-size: 10px;
  min-width: 18px;
  height: 18px;
  line-height: 18px;
}
.kuma-page.mini .kuma-page-item {
  margin-right: 6px;
  min-width: 18px;
  height: 18px;
  line-height: 18px;
}
.kuma-page.mini .kuma-page-options .kuma-page-options-quick-jumper {
  margin-left: 8px;
  height: 18px;
  line-height: 18px;
}
.kuma-page.mini .kuma-page-options .kuma-page-options-quick-jumper input {
  width: 36px;
  height: 18px;
}
.kuma-page.mini .kuma-page-options .kuma-page-options-quick-jumper input:hover {
  border-color: #ff9900;
}
.kuma-page.mini .kuma-page-options .kuma-page-options-size-changer .kuma-select2-selection {
  height: 18px;
}
.kuma-page.mini .kuma-page-options .kuma-page-options-size-changer .kuma-select2-selection .kuma-select2-selection__rendered {
  line-height: 18px;
}
.kuma-page.mini .kuma-page-options .kuma-page-options-size-changer .kuma-select2-selection .kuma-select2-arrow {
  height: 18px;
  margin-top: -5px;
}
.kuma-page .kuma-page-options-size-changer {
  font-size: 12px;
}
.kuma-page-options-size-changer-dropdown {
  font-size: 12px;
}
.kuma-page-options-size-changer-dropdown .kuma-select2-dropdown-menu-item {
  padding: 7px 16px 7px 11px;
}

/*# sourceMappingURL=Pagination.css.map */